:root {
  /** colors */
  --color-name: custom;
  --color-bg-shade: #14141E;
  --color-bg-base: #191926;
  --color-bg-surface: #1E1E2E;
  --color-bg-highlight: #232335;
  --color-fg-shade: #768CB2;
  --color-fg-base: #A6B4CD;
  --color-fg-surface: #D6DCE8;
  --color-fg-highlight: #FFFFFF;
  --color-primary-bg: #166C66;
  --color-primary-base: #30D5C8;
  --color-primary-fg: #9CEBE5;
  --color-secondary-bg: #004040;
  --color-secondary-base: #008080;
  --color-secondary-fg: #00C0C0;
  --color-palette-red: #E06C75;
  --color-palette-green: #98C379;
  --color-palette-yellow: #E5C07B;
  --color-palette-blue: #61AFEF;
  --color-palette-purple: #C678DD;
  --color-palette-cyan: #56B6C2;
  --color-palette-orange: #FFBB7C;
  
  /** general */
  --font-family: 'JetBrains Mono', monospace;
  --display-image: block;

  /** surface */
  --surface-maxWidth: 1000px;
  --surface-shadow: 12px 12px 0px rgb(22, 108, 102), 24px 24px 0px rgb(16.5, 97, 92.5), 36px 36px 0px rgb(11, 86, 83), 48px 48px 0px rgb(5.5, 75, 73.5), 60px 60px 0px rgb(0, 64, 64);
  --surface-borderRadius: 0px;

  /** spacing */
  --space-smallest: 0.125rem;
  --space-small: 0.5rem;
  --space-medium: 1rem;
  --space-large: 1.5rem;
  --space-largest: 3rem;

  /** others */
  --picture-size: 300px;
  --group-count: 3;
}
